<div class="centre">
<h1 class='title'>Natter</h1>
</div>
<div class='box-1'>
<p>Language Exchange is the number one platform to share and learn language.</p>
<br>
<p>We believe the best way to share language is to build relationships and immerse yourself amongst native speakers.</p>
<br>
<p>Choose to exchange with native speakers or learn directly from expert tutors with our easy to use platform.</p>
</div>
<div class="box-2"></div>
<p></p>

<%= link_to 'Create a new lesson', new_lesson_path %>
